:root {
    --columbia-blue: #c0dde8ff;
    --pacific-cyan: #58a8c8ff;
    --sky-blue: #89c4dbff;
    --smoky-black: #111307ff;
    --cadet-gray: #8ea6a8ff;
    --alice-blue: #d8e5e8ff;
    --dun: #d6bda6ff;
    --caf-noir: #423323ff;
    --black-olive: #2b2c20ff;
    --lion: #b49a60ff;
    --brilliant-orange: #FF5722;
}