/* Paleta de colores */
:root {
    --cadet-gray: #84a2a6ff;
    --alabaster: #efeae1ff;
    --celestial-blue: #119edbff;
    --black-olive: #2f2d20ff;
    --dark-green: #0f1e00ff;
    --baby-blue: #85c5e7ff;
    --blue-green: #3f9ab2ff;
    --reseda-green: #736e40ff;
    --moss-green: #8f9946ff;
    --pakistan-green: #232e04ff;
    --brilliant-orange: #FF5722;
    --azul-pastel: #d8e5e8;
    --tierra: #d6bda6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins", "sans-serif";
}


@media only screen and (max-width: 768px){

    header {
        position: absolute;
        width: 100%;
        height: fit-content;
        padding: 0.2rem 0.2rem;
    }

    /* Menu principal */
    .main-menu {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .logo {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        color: var(--alabaster);
        transition: 150ms;
    }

    .nav-menu {
        display: none;
    }
        /* Landing page */
    .landing-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ), url("../resources/desktop_background.jpg");
        background-size: cover;
        background-repeat: none;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    /* Texto y btn de la landing page */
    .main-tense {
        text-align: center;
        font-size: 22px;
        color: var(--alabaster);
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }

    .landing-btn {
        font-size: 20px;
        padding: 0.5rem;
        background-color: var(--brilliant-orange);
        border: none;
        border-radius: 5px;
        color: var(--alabaster);
        font-weight: bold;
        text-transform: uppercase;
    }
    .prices {
        padding-top: 2.5rem;
        height: auto;
        padding-bottom: 2.5rem;
        background-color: var(--alabaster);
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-wrapper{
        display: grid;
        margin: 2em;
        grid-template-columns: repeat(1);
        gap: 3rem;
    }

    .package{
        display: flex;
        flex-direction: column;
        margin-top:3rem ;
        height: 400px;
        background-color: var(--tierra);
        border-radius: 10px;
    }

    /*imagen de las cards*/
    .img-package{
        display: flex;
        height: 60%;
        width: 100%;
    
        /*margin: 0.625rem;*/
    }

    #hotel_1 {
        background-image: url('../resources/hotel_1.jpg');
        background-size: cover;
    }

    #hotel_2 {
        background-image: url('../resources/hotel_2.jpg');
        background-size: cover;
        background-position: center;
    }

    #hotel_3 {
        background-image: url('../resources/hotel_3.jpg');
        background-size: cover;
        background-position: center;
    }
    /*texto de las cards*/
    .text-package{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        height: 40%;
        margin: 0.5rem;
    }
    .text-package p{
        display: flex;
        justify-content: center;
        gap: 0.625rem;
    }

    .pack-btn{
        font-size: 18px;
        width: 80px;
        cursor: pointer;
        background-color: var(--brilliant-orange);
        border: none;
        color: var(--alabaster);
        font-weight: bold;
        border-radius: 5px;
    }

    /*Configuración del acerca de*/

    .about-faq {
        margin: 2em;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 16px;
    }

    .faq{
        display: grid;
        gap:1.25rem;
    }

    /*Configuración del footer*/

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--black-olive);
    }

    .media-container li {
        display: inline-block;
        margin: 20px;
        font-size: 25px;
        color: var(--alabaster);
        opacity: 60%;
    }

    .footer-text-container, .legal-information{
        color: var(--alabaster);
        opacity: 60%;
    }

    .footer-text-container h4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .footer-text-container p{
        text-align: center;
        font-size: 12px;
    }

    .legal-information{
        display: flex;
        margin-top: 20px;
        gap: 10px;
        font-size: 12px;
        margin-bottom: 20px;
    }

}


/*Desktop settings*/
@media only screen and (min-width: 768px){
    /* Cabecera */
    header {
        position: absolute;
        width: 100%;
        height: fit-content;
        padding: 0.2rem 0.2rem;
    }

    /* Menu principal */
    .main-menu {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .logo {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        color: var(--alabaster);
        transition: 150ms;
    }

    .nav-menu {
        display: flex;
        gap: 4rem;
        font-size: 18px;
        align-items: center;
    }

    .nav-menu li {
        position: relative; /* Asegúrate de que cada li sea relativo */
    }


    .nav-menu li a {
        color: var(--alabaster);
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: bold;
    }

    .nav-menu li a::before {
        content: "";
        height: 3px;
        width: 0; /* Esto ahora estará correctamente posicionado */
        background-color: var(--celestial-blue);
        position: absolute;
        left: 0;
        bottom: -5px; /* Ajusta esta posición según lo necesites */
        transition: 200ms;
    }

    .nav-menu li a:hover::before{
        width: 100%;
    }

    /* Botón login */
    #login {
        color: var(--blue-green);
        background-color: var(--alabaster);
        height: 100%;
        width: 150px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        transition: background-color 0.6s ease;
        cursor: pointer;
        text-transform: uppercase;
    }

    #login:hover {
        color: var(--alabaster);
        background-color: var(--blue-green);
    }

    /* Landing page */
    .landing-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ), url("../resources/desktop_background.jpg");
        background-size: cover;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
   
    /* Texto y btn de la landing page */
    .main-tense {
        font-size: 30px;
        color: var(--alabaster);
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }

    .landing-btn {
        font-size: 20px;
        padding: 0.5rem;
        border: 2px solid var(--brilliant-orange); /* Sintaxis corregida */
        border-radius: 5px;
        background-color: transparent;
        color: var(--alabaster);
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 130ms ease; 
    }

    .landing-btn:hover {
        background-color: var(--brilliant-orange);
    }

    .prices {
        padding-top: 2.5rem;
        height: 100vh;
        background-color: var(--alabaster);
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-wrapper{
        display: grid;
        margin: 2em;
        grid-template-columns: repeat(3, 0.5fr);
        gap: 3rem;
    }

    .package{
        display: flex;
        flex-direction: column;
        margin-top:3rem ;
        height: 400px;
        background-color: var(--tierra);
        border-radius: 10px;
    }

    /*imagen de las cards*/
    .img-package{
        display: flex;
        height: 60%;
        width: 100%;
    
        /*margin: 0.625rem;*/
    }

    #hotel_1 {
        background-image: url('../resources/hotel_1.jpg');
        background-size: cover;
    }

    #hotel_2 {
        background-image: url('../resources/hotel_2.jpg');
        background-size: cover;
        background-position: center;
    }

    #hotel_3 {
        background-image: url('../resources/hotel_3.jpg');
        background-size: cover;
        background-position: center;
    }
    /*texto de las cards*/
    .text-package{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        height: 40%;
        margin: 0.5rem;
    }
    .text-package p{
        display: flex;
        justify-content: center;
        gap: 0.625rem;
    }

    .pack-btn{
        font-size: 18px;
        width: 80px;
        cursor: pointer;
        background-color: var(--brilliant-orange);
        border: none;
        color: var(--alabaster);
        font-weight: bold;
        border-radius: 5px;
    }

    /*Configuración del acerca de*/

    .about-faq {
        margin: 2em;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 16px;
    }

    .faq{
        display: grid;
        gap:1.25rem;
    }

    /*Configuración del footer*/

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--black-olive);
    }

    .media-container li {
        display: inline-block;
        margin: 25px;
        font-size: 25px;
        color: var(--alabaster);
        opacity: 60%;
        cursor: pointer;
        transition: transform 150ms ease;
    }

    .media-container li:hover {
        opacity: 100%;
        color: white;
        transform: translateY(-5px)
    }

    .footer-text-container, .legal-information{
        color: var(--alabaster);
        opacity: 60%;
    }

    .footer-text-container h4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .legal-information{
        display: flex;
        margin-top: 20px;
        gap: 30px;
        margin-bottom: 20px;
    }

    .legal-information li{
        cursor: pointer;
    }

    .legal-information li:hover{
        color: white;
    }

}
